<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SPConsulta" value="SP_GetLabel_LP_P"/>
		<!--<add key="WareHouse_ID" value="34"/>-->
		<!--<add key="WareHouse_Reference" value="CTI"/>-->
		<add key="Parentkey" value=""/>
		<add key="ParentPassword" value=""/>
		<add key="key" value=""/>
		<add key="Password" value=""/>
		<add key="AccountNumber" value=""/>
		<add key="MeterNumber" value=""/>
		<add key="customerNumber" value=""/>
		<add key="customerPassword" value=""/>
		<!--<add key="CarpetaLog" value="C:\Users\Teresa Islas\OneDrive - Grupo Dao SA de CV\Documentos\source\repos\Asignadores_CP_CTI\Asignadores_CP_CTI\bin\Debug\net5.0"/>-->
		<add key="CarpetaLog" value="/home/developers/DowloadLabel/GetLabel_LP/"/>
		<!--<add key="email_sender" value="GetLabel - CP - CTI"/>-->
		<!--<add key="email_to" value="it.apps@mercadazo.com.mx|operaciones.apps@mercadazo.com.mx"/>-->
	</appSettings>

	<connectionStrings>
		<add name="db_conn" connectionString="server=merch-u.cluster-caynagpuph9t.us-east-2.rds.amazonaws.com; User Id=netcore_scripts; password=Maj@bKQZFkr42RL-jlcG; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
		<add name="db_conn_read" connectionString="server=merch-u.cluster-caynagpuph9t.us-east-2.rds.amazonaws.com; User Id=netcore_scripts; password=Maj@bKQZFkr42RL-jlcG; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
	</connectionStrings>

</configuration>