<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="appid_name" value="TOML"/>
		<!--<add key="CarpetaLog" value="C:\Users\Daniel Serrano\OneDrive - Grupo Dao SA de CV\Documentos\source\repos\CreateLabel_ML\CreateLabel_ML\bin\Debug\net5.0"/>-->
		<add key="CarpetaLog" value="C:/home/mdzadmin/ClaroShop/"/>
		<add key="email_sender" value="Notificaciones ClaroShop"/>
		<add key="email_to" value="ansony.martinez@mercadazo.com.mx|vanessa.villela@mercadazo.com.mx"/>
	</appSettings>
	<connectionStrings>
		<add name="db_conn" connectionString="server=merch-u.cluster-caynagpuph9t.us-east-2.rds.amazonaws.com; User Id=php.scripts; password=xa%DkoE-Xyexcg; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
		<!--<add name="db_conn_read" connectionString="server=34.122.3.125; User Id=merch_reader; password=W2JVvCEn3fUHiKY; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True" />-->
		<add name="db_conn_read" connectionString="server=merch-u.cluster-caynagpuph9t.us-east-2.rds.amazonaws.com; User Id=php.scripts; password=xa%DkoE-Xyexcg; Persist Security Info=True; database=merchantu; Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
		<add name="db_historic" connectionString="server=209.124.90.75;User Id=merca44;password=o_rJTUN&amp;Kk;Persist Security Info=True;database=merchantu;Connection Timeout=10000; Allow Zero Datetime = True; sslmode=none" />
	</connectionStrings>
</configuration>